/* common css */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Anton&family=Cormorant+Garamond&family=Dancing+Script&family=Dongle&family=Hubballi&family=Josefin+Sans&family=Philosopher&family=Poppins:wght@500;600&family=Roboto&family=Roboto+Mono:wght@200&family=Ubuntu+Mono&display=swap');
:root {
    --main-color: rgb(43, 104, 43);
  }
  
/* top heading */
.top-heading{
    font-size: 2em;
    font-family: 'Hubballi', cursive;
    font-weight: 900;
}
.heading-right-text{
    color:grey;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--main-color);
}
.logo img{
    width: 100px;
}
/* search box */
.search-icon{
    font-size: 0.8em;
}
.search{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.input-field input{
    border-radius: 5px;
    width: 30em;
    height: 2.5em;
    outline: none;
    padding-left: 10px;
    margin-right: 10px;
    
}
.input-field input:focus{
    color: var(--main-color);
    transition: 0.4s;
    border: 1px solid var(--main-color);
}
.search-btm button{
     width: 7em;
}
/* result-counter */
.result-counter{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1em;
    
    color: var(--main-color);
}

/* card styling */
.card-info{
    display: grid;
    grid-gap:1em;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    
}
.card-body{
    border: 1px solid rgb(219, 217, 217);
    height: 350px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;

    transition: transform .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-body:hover {
    transform: scale(1.1); 
  }
.card-body img{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    
}
.card-body table{
    line-height: 0.4;
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;

}
.card-body button{
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}
/* load data btn */
#showMore{
    padding: 2px 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    display: none;
    margin-top: 30px;
    margin-bottom: 50px;
}


/* phone details styling start*/


/* modal styling */
.details-heading{
    color: var(--main-color);
    font-size: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
}

.modal-info{
    display: flex;
}
.phone-image img{
    width: 250px;
    margin-right: 20px;
    
}
.table-details{
    line-height: 1.2;
    font-family: 'Hubballi', cursive;
    font-size: 1.1em;
}
.table-details th,td{
    color: var(--main-color);
}
.table-details td{
    max-width: 400px;
    overflow-wrap: break-word;
}

#modalBtn{
    margin: auto;
    padding: 3px 20px;
}

/* spinner style */
#spinner{
    display: none;
}

/* Media queries styling */

@media (max-width:688px){

    .input-field input{
        width: 12em;
        height: 2em;   
    }
    .search-btm button{
        width: 5em;
        padding: 3px 5px;
   }
   .card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .modal-info{
        display: flex;
        flex-direction: column;
    }
    .phone-image img{
        width: 150px;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }
    .table-details td{
        max-width: 200px;
        overflow-wrap: break-word;
    }

    .top-heading{
        font-size: 1.3em;
    }
    .search{
        margin-top: 25px;
    }
    .logo{
        margin-top: 25px;
    }
    .logo img{
        width: 70px;
    }
}

/* tablet responsiveness */
@media (min-width:688px) AND (max-width:992px){
    .input-field input{
        width: 26em;
        height: 2.5em;   
    }
    .search-btm button{
        width: 5em;
        padding: 6px 10px;
   }
   .card-info{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .modal-info{
        display: flex;
        flex-direction: column;
    }
    .phone-image img{
        width: 200px;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }
    .table-details td{
        max-width: 200px;
        overflow-wrap: break-word;
    }

    .top-heading{
        font-size: 2em;
    }
    .search{
        margin-top: 25px;
    }
    .logo{
        margin-top: 25px;
    }
    .logo img{
        width: 90px;
    }
}
